<div class="container">  
    <div class="card-group mt-2">
   
    <div class="col-md-5" style="width: 18rem; background-color: aliceblue;"    *ngFor=" let animal of verificarUsuario "  >
  
     <img class="card-img-top" [src]="animal.imagen" alt="Card image cap">
      <div class="card-body" >
      Nombre: {{animal.nombre}} <br>
      
      Sexo: {{animal.sexo}}  <br>
      Descripción: {{animal.descripcion}}<br>
      Fecha de ingreso {{animal.alta | date: 'dd/MM/yyyy'}}<br>
      Tamaño: {{animal.tamanio}}<br>
      Tipo: {{animal.tipo}}<br>
      
      </div>
    </div>
  
  </div>
  </div>