<div class="container p-7">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Sign Up</h3>
                </div>
                <div *ngIf="!reintentar" class="card-body">
                    <form (submit)="registrar()" method="post">
                        <div class="form-group">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" name="nombre" [(ngModel)]="user.nombre" (focus)="limpiarNombre()"
                                    placeholder="Nombre" class="form-control">
                            </div>
                            <div [ngSwitch]="errorNombre">
                                <div *ngSwitchCase="1">Debes completar el campo</div>
                                <div *ngSwitchCase="2">Nombre muy largo</div>
                                <div *ngSwitchCase="3">Nombre debe ser alfabetico</div>
                            </div>

                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="password" name="password" [(ngModel)]="user.password"
                                    (focus)="limpiarPassword()" placeholder="Contraseña" class="form-control">
                            </div>
                            <div [ngSwitch]="errrorPassword">
                                <div *ngSwitchCase="1">Debes completar el campo</div>
                                <div *ngSwitchCase="2">Contraseña muy larga</div>
                                <div *ngSwitchCase="3">Contraseña debe ser alfanumerica y admite mayusculas.</div>
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="password" name="repassword" [(ngModel)]="user.repassword"
                                    (focus)="limpiarRePassword()" placeholder="Repetir Contraseña" class="form-control">
                            </div>
                            <div [ngSwitch]="errorRePassrword">
                                <div *ngSwitchCase="1">Las contraseñas deben ser iguales</div>
                            </div>

                            <div class="form-group">
                                <label for="" class="col-4 col-form-label">Sexo</label>
                                    <select class="form-select col-8" [(ngModel)]="user.sexo" (change)="cambiarSeleccion($event)">
                                        <option selected disabled>Seleccione el sexo</option>
                                        <option [value]="ani.sexo" *ngFor="let ani of combo1">
                                            {{ani.sexo}}
                                    </select>
                            </div>

                            <div class="form-group">
                                <label for="" class="col-4 col-form-label">Provincia</label>
                                    <select class="form-select col-8" [(ngModel)]="user.provincia"
                                    (change)="cambiarSeleccion2($event)">
                                    <option selected disabled>Seleccione la Provincia</option>
                                    <option [value]="ani.id" *ngFor="let ani of combo2">
                                        {{ani.provincia}}
                                </select>
                            </div>

                            <div class="form-group">
                               <label for="" class="col-4 col-form-label">Localidad</label>
                                <select class="form-select col-8" [(ngModel)]="user.localidad"
                                (change)="cambiarSeleccion3($event)" >
                                <option [value]="ani.id" *ngFor="let ani of codigo">
                                    {{ani.localidad}}
                                </select>
                            </div>

                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="email" name="email" [(ngModel)]="user.email" (focus)="limpiarEmail()"
                                    placeholder="email" class="form-control">
                            </div>
                            <div [ngSwitch]="errorEmail">
                                <div *ngSwitchCase="1">Debes completar el campo</div>
                                <div *ngSwitchCase="2">Email muy largo</div>
                                <div *ngSwitchCase="3">Email debe ser nombre@dominio.algo .</div>
                            </div>

                            <button class="btn btn-success btn-block" (click)="verificarForm()">Enviar</button>
                        </div>
                    </form>

                </div>
                <div *ngIf="reintentar" class="card-body">
                    {{mensaje}} <br>
                    <a class="btn btn-info" (click)=recargarForm()>Reintentar</a>
                    <a class="btn btn-danger" routerLink="../principal">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div>{{user.nombre}} {{user.password}} {{user.repassword}} {{user.email}}</div>