<div class="container-fluid">
    <div class="row text-white text-center">
      <div class="col-2 bg-dark border">
  
        <p style="color: white;">Nombre: {{Animal.nombre}}</p>
  <p style="color: white;">Sexo: {{Animal.sexo}}</p>
  
  <p style="color: white;">Tamaño: {{Animal.tamanio}}</p>
  <p style="color: white;">Tipo: {{Animal.tipo}}</p>  
  <p style="color: white;">Fecha de ingreso: {{Animal.alta| date: 'dd/MM/yyyy'}}</p>
</div>
<div class="col-10 bg-dark border">
    <img class="circular--square" [src]="Animal.imagen" alt="Card image cap">
  </div>
</div>
</div>  
<br>
<h3 style="text-align: center;" >Interesados</h3>
<table class="table table-striped table-dark" >
  <thead>
    <tr>
      <th>Nombre</th>
      <th>¿En qué tipo de vivienda habitás?</th>
      <th>Tipo propietario</th>
      <th>En caso de alquilar, ¿consultaste previamente con el dueño de la vivienda?</th>
      <th> En caso  de tener otros animales, ¿están castrados?</th>
      <th>¿Estás dispuesto a adoptar al animal de por vida con compromiso de vacunación anual, desparacitación y castración?</th>
      <th>¿Tenés cerramientos en los balcones y/o ventanas? (red o rejas)</th>
      <th>¿Están todos los miembros de la familia de acuerdo en adoptar?</th>
      <th>¿Cuántas horas calculás que el animal estará solo en la propiedad?</th>
      <th>¿Cuántas veces pensás sacarlo a pasear por día?</th>
      <th>Rechazar</th>
      <th>Aceptar</th>
    </tr>
  </thead>
  <tbody *ngIf="interesados.length > 0; else fila">
    <tr *ngFor=" let usuarios of interesados">
        <td>{{usuarios.id_usuario}}</td>
        <td>{{usuarios.tipo_vivienda}}</td>
        <td>{{usuarios.tipo_propietario}}</td>
        <td>{{usuarios.caso_alquilar}}</td>
        <td>{{usuarios.tipo_animal_castrado}}</td>
        <td>{{usuarios.compromiso_animal}}</td>
        <td>{{usuarios.balcones}}</td>
        <td>{{usuarios.acuerdo_familiar}}</td>
        <td>{{usuarios.animal_propiedad}}</td>
        <td>{{usuarios.acuerdo_animal_pasear}}</td>
        <td *ngIf="desaparecer">  <button type="button" class="btn btn-danger" (click)="eliminarInteresados(usuarios.id_registrado,usuarios.id_animal)" >Rechazar</button></td>
        <td *ngIf="desaparecer">  <button type="button" class="btn btn-success" (click)="agregar(usuarios.id_registrado,usuarios.id_animal)" >Aceptar</button></td>
    </tr>
    
  </tbody>
  <ng-template #fila>
    <tbody>
        <tr>
            <td colspan="4">No hay interesados</td>
        </tr>
    </tbody>
</ng-template>
</table>
