<section class="container">
  <h3 class="text-uppercase text-center">Formulario de alta de mascota</h3>
  <p class="text-uppercase text-center">En este formulario podras dar de alta un animal que quieras que lo adopten.</p>

      <form  (submit)="agregar()" method="post" enctype="multipart/form-data">
        <div class="form-group row">
          <label for="nombre" class="col-3 col-form-label">Nombre</label>
            <input type="text" id="" name="nombre" [(ngModel)]="animal.nombre" placeholder="Ingrese el nombre aquí" autofocus class="form-control col-4">

            <div [ngSwitch]="errorNombre">
              <div *ngSwitchCase="1">Debes completar el nombre</div>
            </div>
        </div>
      

        <div class="form-group row">
          <label for="" class="col-3 col-form-label">Animal</label>
            <select class="form-control col-4" [(ngModel)]="animal.animal_codigo" (change)="cambiarSeleccion7($event)">
              <option [value]="ani.id" *ngFor="let ani of combo5">
                {{ani.nombre}}
            </select>
         <!--  <div [ngSwitch]="errorAnimal">
              <div *ngSwitchCase="1">Debes seleccionar el tipo de animal</div>
            </div>--> 
        </div>


        <div class="form-group row">
          <label for="" class="col-3 col-form-label">Raza</label>
            <select class="form-control col-4" [(ngModel)]="animal.raza" (change)="cambiarSeleccion2($event)">
              <option [value]="ani.id" *ngFor="let ani of codigo2">
                {{ani.raza}}
            </select>

           <!--<div [ngSwitch]="errorRaza">
              <div *ngSwitchCase="1">Debes seleccionar una raza</div>
             
          </div>--> 
        </div>

        <div class="form-group row">
          <label for="" class="col-3 col-form-label">Sexo</label>
            <select class="form-control col-4" [(ngModel)]="animal.sexo" (change)="cambiarSeleccion($event)">
              <option [value]="ani.sexo" *ngFor="let ani of combo">
                {{ani.sexo}}
            </select>
        </div>
        <div>

        <div class="form-group row">
          <label for="" class="col-3 col-form-label">Provincia</label>
            <select class="form-control col-4" [(ngModel)]="animal.provincia" (change)="cambiarSeleccion5($event)">
              <option disabled selected>Selecciona una opción</option>
              <option [value]="ani.id" *ngFor="let ani of combo3">
                {{ani.provincia}}
            </select>
          <!--  <div [ngSwitch]="errorProvincia">
              <div *ngSwitchCase="1">Debes seleccionar una provincia</div>
            </div>-->
        </div>
       

        <div class="form-group row">
          <label for="" class="col-3 col-form-label">Localidad</label>
            <select class="form-control col-4" [(ngModel)]="animal.localidad" (change)="cambiarSeleccion6($event)">
              <option [value]="ani.id" *ngFor="let ani of codigo">
                {{ani.localidad}}
            </select>
           <!-- <div [ngSwitch]="errorLocalidad">
              <div *ngSwitchCase="1">Debes seleccionar una localidad</div>
            </div>-->
        </div>
       

        <div class="form-group row">
          <label for="" class="col-3 col-form-label">Descripción</label>
            <input class="form-control col-4" type="text" id="" name="descripcion" [(ngModel)]="animal.descripcion" placeholder="Describi a la mascota">
            <div [ngSwitch]="errorDescripcion">                                                                                     
              <div *ngSwitchCase="1">Debes completar el campo</div>
              <div *ngSwitchCase="2">ha exedido el  limite,  la
                  descripcion sera truncada.
                 </div>
                 
           
              <div *ngSwitchCase="3">Debe ser alfanumerico</div>
          </div>
        </div>

        <div class="form-group row">
          <h4 class="col-3 col-form-label">¿Tamaño del Animal?</h4>
          <label>
            <input class="col-3" type="radio" name="tama" value="Pequeño" [(ngModel)]="animal.tamanio"> Pequeño
          </label>
          <label>
            <input class="col-3" type="radio" name="tama" value="Mediano" [(ngModel)]="animal.tamanio"> Mediano
          </label>
          <label>
            <input class="col-3" type="radio" name="tama" value="Grande" [(ngModel)]="animal.tamanio"> Grande
          </label>

        <!-- <div [ngSwitch]="errorTamanio">
            <div *ngSwitchCase="1">Debes seleccionar un tamaño</div>
          </div>--> 
        </div>
     
          
        <div class="form-group row">
          <h4 class="col-3 col-form-label">¿Edad del Animal?</h4>
            <label class="">
              <input class="col-3" type="radio" name="tip" value="Cachorro" [(ngModel)]="animal.tipo"> Cachorro
            </label>
            <label>
              <input class="col-3" type="radio" name="tip" value="Adulto" [(ngModel)]="animal.tipo"> Joven
            </label>
            <label>
              <input class="col-3" type="radio" name="tip" value="Anciano" [(ngModel)]="animal.tipo"> Adulto
            </label>
        </div>
            
          <div class="form-group">
            <input type="file" (change)="selecciona($event)" [(ngModel)]="animal.imagen" />
          <div *ngIf="myimage">
            <img [src]="myimage" width="200px" height="200px" alt="" />
          </div>
          </div>

          <div class="form-group">
            <!--  (click)="alerta()" -->
            <button class="btn btn-primary" >Publicar</button>
          </div>
        </div>
      </form>
</section>