#caja{

    background-color: rgb(190, 222, 254);
    border:  10px dotted;
    padding: 10px;
    margin: 10px;
}
#div2{
	background-color: rgb(200,200,200);
    float: right;
    width: 50%;
}
#div3{
	background-color: rgb(219, 150, 150);
	width: 50%;
    float: right;
}

.grande{
	font-size:130px;
}		
#fondo{
	background-color: #01f8a6;
   position: fixed;
    /*position: relative;*/
    top: 20px;
   /* position: absolute;*/
	/*bottom: 20px;*/
    left: 20px;
    width: 100%;
	text-align: center;
}

