/* You can add global styles to this file, and also import other style files */
body{
	background-color: #fbf9fb;
	font-family:verdana;
	background-image:url(https://cloudfront-us-east-1.images.arcpublishing.com/infobae/JOZB2JDGYFD5XHMGT6TKEIGOS4.jpg);
	background-position: center center;

	font-family: 'Montserrat', sans-serif;
	/* Esta imagen no debe de repetirse */
	background-repeat: no-repeat;
  
	/* COn esta regla fijamos la imagen en la pantalla. */
	background-attachment: fixed;
  
	/* La imagen ocupa el 100% y se reescala */
	background-size:cover;
	min-height: 100vh;
}
h4{
	color: #10171a;
	text-align: center;

}
.form-group{
	text-align: center;

}
h2{
	color: black;
	text-align: center;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }