<!--<div class="col-2 bg-dark border">
    <p style="color: #f9f9f9;">Nombre: {{Animal.nombre}}</p>
<p style="color: #f9f9f9;">Sexo: {{Animal.sexo}}</p>

<p style="color: #f9f9f9;">Tamaño: {{Animal.tamanio}}</p>
<p style="color: #f9f9f9;">Tipo: {{Animal.tipo}}</p>  
<p style="color: #f9f9f9;">Descripcion: {{Animal.descripcion}}</p>  
<p style="color: #f9f9f9;">Fecha de ingreso: {{Animal.alta| date: 'dd/MM/yyyy'}}</p>

</div>
-->

    <div class="col-6 bg-white border" style="background-color: aquamarine;">

        <br>
        <div class="col-6 bg-white border">
            <img class="circular--square"  [src]="Animal.imagen"  style="width: 300px;" alt="Card image cap">
          </div>
          <br>
          <div>
            <label for="exampleInputEmail1">Ingrese el número</label>
            <input type="file" (change)="selecciona($event)"  [(ngModel)]="usuario2.imagen" />
            <button class="btn btn-primary btn-sm" (click)="cambiarImagen()"   >Aceptar</button> 
           
          
          </div>

<div class="form-group col-md-5">
    <label for="inputPassword6"  >Nombre</label>
 <input type="text"class="form-control" id="nom"  [(ngModel)]="usuario1.nombre" value="{{Animal.nombre}}">
 <button class="btn btn-primary btn-sm " (click)="actualizar()"   >Aceptar</button> 
</div>
<div class="form-group col-md-5">
    Tipo :{{Animal.tamanio}} <br>

    <fieldset><br>
       
        <label>
            <input type="radio" name="tama" value="Pequeño"  [(ngModel)]="usuario3.tamanio" > Pequeño.
        </label>
        <label>
            <input type="radio" name="tama" value="Mediano" [(ngModel)]="usuario3.tamanio" > Mediano.
        </label>
        <label>
          <input type="radio" name="tama" value="Grande" [(ngModel)]="usuario3.tamanio" > Grande.
      </label>
       
    </fieldset>
 <button class="btn btn-primary btn-sm " (click)="actualizar2()"   >Aceptar</button> 
</div>
<br>
<br>
<div class="form-group col-md-5">
  
Tipo :{{Animal.tipo}} <br>
<fieldset><br>
    
    <label>
        <input type="radio" name="tip" value="Cachorro"  [(ngModel)]="usuario4.tipo" > Cachorro.
    </label>
    <label>
        <input type="radio" name="tip" value="Adulto" [(ngModel)]="usuario4.tipo" > Adulto.
    </label>
    <label>
      <input type="radio" name="tip" value="Anciano" [(ngModel)]="usuario4.tipo"> Anciano.
  </label>
   
</fieldset>

 <button class="btn btn-primary btn-sm " (click)="actualizar3()"   >Aceptar</button> 
</div>


<div class="form-group col-md-5">
    <label for="inputPassword6"  >Descripcion</label>
 <input type="text"class="form-control" id="tam" [(ngModel)]="usuario5.descripcion" value="{{Animal.descripcion}}">
 <button class="btn btn-primary btn-sm " (click)="actualizar4()"   >Aceptar</button> 
</div>
<br>
  <div class="row" >
    <div class="form-group col-md-5">
        <p style="color: black;">  Provincia:{{provincias.provincia}}</p>                     
     <label for="sexo" class="form-label">Provincia</label>
     <select class="form-select" [(ngModel)]="usuario6.provincia" (change)="cambiarSeleccion5($event)" >
        <!-- <option selected>Seleccione...</option>-->
        <option disabled selected> Selecciona una opcion</option>
         <option [value]="ani.id"   *ngFor="let ani of combo3" >
           {{ani.provincia}}
       
       </select>
   </div>
   <div class="form-group col-md-5">
    <p style="color: black;">  Localidad:{{localidades.localidad}}</p> <br>
     <label for="sexo" class="form-label">Localidad</label>
     <select class="form-select" [(ngModel)]="usuario6.localidad" (change)="cambiarSeleccion6($event)">
        <!-- <option selected>Seleccione...</option>-->
        
         <option [value]="ani.id" *ngFor="let ani of codigo" >
           {{ani.localidad}}  
       
       </select>
      
   </div>

</div>

   <button class="btn btn-primary btn-sm" (click)="cambiarProvincias()"   >Aceptar</button> 

</div>

<!---->


<!--


    <div class="col-sm4">
    <div class="mb-3" form group>
        <label for="form label">Nombre</label>
        <input type="text"class="form-control" value="{{Animal.nombre}}">


    </div>

</div>
-->

