<nav class="navbar navbar-expand-lg navbar-light bg-light-cac">
  
  <a class="navbar-brand" routerLink="usuarios/home">Home</a>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">

    <ul class="navbar-nav">
      <div class="dropdown"*ngIf="tokenValidado == true">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> 
          Mi Perfil
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" routerLink="../../animales/registrados">Mis publicaciones</a>
          <a class="dropdown-item" routerLink="../../animales/adoptados">Dados en Adopción</a>
          <a class="dropdown-item" routerLink="../../usuarios/solicitudes">Solicitudes</a>
          <a class="dropdown-item" routerLink="../../usuarios/datos">Mis Datos</a>
          <a class="dropdown-item" id="logout" (click)="logout()">Cerrar sesión</a>
        </div>
      </div>
      <li class="nav-item active" *ngIf="tokenValidado == false">
        <a class="nav-link" routerLink="usuarios/ingresar">Iniciar sesión<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="tokenValidado == false">
        <a class="nav-link" routerLink="usuarios/registrar">Registrarse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="animales/listar">Galeria de Animales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="animales/registrar">Dar en Adopción</a>
      </li>
    </ul>
  </div>
  <h4>{{nombreUsuario}}</h4>
</nav>