<div class="container">
    <div class="card-body">
    <img class="card-img-top img-fluid"  src="https://static.vecteezy.com/system/resources/previews/004/226/416/non_2x/assignment-ind-glyph-color-icon-cv-user-information-profile-patient-card-silhouette-symbol-on-white-background-with-no-outline-negative-space-illustration-vector.jpg" alt="Card image cap">
    <br>
        
        <p>  Nombre : {{usuarios.nombre}} </p> 
        <p>  Email : {{usuarios.email}}</p> 
        <p>  Teléfono : {{usuarios.numero}}</p> 
        <p>  Sexo : {{usuarios.sexo}}</p> 
        <p>  Provincia : {{provincias.provincia}}</p> 
        <p>  Localidad : {{localidades.localidad}}</p>

        <div class="text-center">
            <button class="btn btn-primary btn-sm" (click)="cambiarSeleccion()">Editar datos</button> 
            <button class="btn btn-danger btn-sm" (click)="eliminarUsuario(usuarios.id)">Eliminar Perfil</button>
        </div>  
    </div>
</div>