<div class="row text-white text-center">
  <div class="col-2 bg-dark border">
    <p style="color: #f9f9f9;">Nombre: {{Animal.nombre}}</p>
    <p style="color: #f9f9f9;">Sexo: {{Animal.sexo}}</p>

    <p style="color: #f9f9f9;">Tamaño: {{Animal.tamanio}}</p>
    <p style="color: #f9f9f9;">Tipo: {{Animal.tipo}}</p>
    <p style="color: #f9f9f9;">Descripcion: {{Animal.descripcion}}</p>
    <p style="color: #f9f9f9;">Fecha de ingreso: {{Animal.alta| date: 'dd/MM/yyyy'}}</p>
  </div>

  <div class="col-6 bg-dark border">
    <img class="circular--square" [src]="Animal.imagen" style="width: 300px;" alt="Card image cap">
  </div>


  <button class="btn btn-primary btn-sm" (click)="editar(Animal.id)">Editar datos</button>
</div>