<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
<br>

    <div class="row text-white text-center">
      <div class="col-2 bg-dark border">
    <p style="color: #f9f9f9;">Nombre: {{Animal.nombre}}</p>
<p style="color: #f9f9f9;">Sexo: {{Animal.sexo}}</p>

<p style="color: #f9f9f9;">Tamaño: {{Animal.tamanio}}</p>
<p style="color: #f9f9f9;">Tipo: {{Animal.tipo}}</p>  
<p style="color: #f9f9f9;">Descripcion: {{Animal.descripcion}}</p>  
<p style="color: #f9f9f9;">Fecha de ingreso: {{Animal.alta| date: 'dd/MM/yyyy'}}</p>
</div>

<div class="col-6 bg-dark border">
    <img class="circular--square"  [src]="Animal.imagen"  style="width: 300px;" alt="Card image cap">
  </div>
  
  
    <button class="btn btn-primary btn-sm" (click)="editar(Animal.id)"   >Editar datos</button> 
</div>
<!--

<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
<br>

    <div class="row text-white text-center">
      <div class="col-2 bg-dark border">
     <p style="color: #f9f9f9;">Nombre: {{Animal.nombre}}</p>
<p style="color: #f9f9f9;">Sexo: {{Animal.sexo}}</p>

<p style="color: #f9f9f9;">Tamaño: {{Animal.tamanio}}</p>
<p style="color: #f9f9f9;">Tipo: {{Animal.tipo}}</p>  
<p style="color: #f9f9f9;">Descripcion: {{Animal.descripcion}}</p>  
<p style="color: #f9f9f9;">Fecha de ingreso: {{Animal.alta| date: 'dd/MM/yyyy'}}</p>
</div>

<div class="col-6 bg-dark border">
    <img class="circular--square"  [src]="Animal.imagen"  style="width: 300px;" alt="Card image cap">
  </div>
  
  <div>
      <label for="exampleInputEmail1">Ingrese el número</label>
      <input type="file" (change)="selecciona($event)"  [(ngModel)]="usuario2.imagen" />
      <button class="btn btn-primary btn-sm" (click)="cambiarImagen()"   >Aceptar</button> 
     
    
    </div>
</div>

-->
