<h1>Galeria de Animales</h1>
<section>
  <div class="">
    <div class="form-group col-3">
      <input type="text" class="form-control" id="tama" placeholder="Busqueda" #txtSearch
        (keyup)="onSearch(txtSearch.value)" />
    </div>
  </div>
  <div class="columns">
    <div class="row row-cols-1 row-cols-md-3">
      <div class="col mb-4" *ngFor=" let animal of animales | filtro: page:search ">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top img-fluid" [src]="animal.imagen" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{animal.nombre}}</h5>
            <p class="card-text">
              Sexo: {{animal.sexo}}<br>
              Descripción: {{animal.descripcion}}<br>
              Fecha de ingreso: {{animal.alta | date: 'dd/MM/yyyy'}}<br>
              Tamaño: {{animal.tamanio}}<br>
              Provincia: {{animal.provincia}}<br>
              Tipo: {{animal.tipo}}<br>
              <a class="btn btn-outline-primary btn-block" (click)="cambiarSeleccion(animal.id)">
                Ver más...</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <button type="button" class="btn btn-primary" (click)="prevPage()">Anterior</button>
    <button type="button" class="btn btn-primary" (click)="nextPage()" [disabled]="(animales | filtro: page:search).length === 0">Siguiente
  </button>
  </div>
</section>

<!--************************************-->
<!--
  <div class="row">
    <div style="width: 18rem;" *ngFor=" let animal of animales | filtro: page:search ">
      <img class="card-img-top img-fluid" [src]="animal.imagen" style="width: 250px;" alt="Card image cap">
      <div class="card-body">
        Nombre: {{animal.nombre}} <br>
        Sexo: {{animal.sexo}} <br>
        Descripción: {{animal.descripcion}}<br>
        Fecha de ingreso: {{animal.alta | date: 'dd/MM/yyyy'}}<br>
        Tamaño: {{animal.tamanio}}<br>
        Provincia: {{animal.provincia}}<br>
        Tipo: {{animal.tipo}}<br>
        <div class="card text-center">
          <a class="btn btn-info" (click)="cambiarSeleccion(animal.id)">Ver animal</a>
        </div>
      </div>
    </div>
  </div>
-->