/* You can add global styles to this file, and also import other style files */
section{
	
	background-image:url(https://i.pinimg.com/736x/8b/ec/61/8bec61d4bed377644ae301c5119302e3.jpg) ;
    background-position: center center;

	/* Esta imagen no debe de repetirse */
	background-repeat: no-repeat;
  
	/* COn esta regla fijamos la imagen en la pantalla. */
	background-attachment: fixed;
  
	/* La imagen ocupa el 100% y se reescala */
	background-size:cover;
	min-height: 100vh;
}
h1{
	text-align: center; 
	background-color: rgb(90, 214, 255);
}
/*
section{
    margin-top: 1.5rem;
    padding: 1.5rem!important;
    margin-block-end: 1.5rem;
    align-content: center;
	background-image:url(https://i.pinimg.com/736x/8b/ec/61/8bec61d4bed377644ae301c5119302e3.jpg) ;
    background-position: center center;
	background-size:cover;
	min-height: 100vh;
}
*/
.row{
	padding: 1.5rem;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn-primary{
	margin: 1%;
}

.form-group{
	padding: 1rem;
	margin: 1px;
}
