<h1>Galeria de Animales</h1>

<body>
  <div class="form-row">
    <div class="form-group col-md-3">
      <input type="text" class="form-control mb-2" id="tama" placeholder="Tamaño" #txtSearch
        (keyup)="onSearch(txtSearch.value)" />
    </div>
    <div class="form-group col-md-3">
    </div>
  </div>
  <div class="row">
    <div style="width: 18rem;" *ngFor=" let animal of animales | filtro: page:search ">
      <img class="card-img-top" [src]="animal.imagen" style="width: 250px;" alt="Card image cap">
      <div class="card-body">
        Nombre: {{animal.nombre}} <br>
        Sexo: {{animal.sexo}} <br>
        Descripción: {{animal.descripcion}}<br>
        Fecha de ingreso: {{animal.alta | date: 'dd/MM/yyyy'}}<br>
        Tamaño: {{animal.tamanio}}<br>
        Provincia: {{animal.provincia}}<br>
        <p>Tipo: {{animal.tipo}}</p><br>

        <div class="card text-center">
          <a class="btn btn-info" (click)="cambiarSeleccion(animal.id)">Ver animal</a>
        </div>

      </div>
    </div>
  </div>

</body>
<button class="btn btn-primary" (click)="prevPage()">
  Anterior
</button>
<button class="btn btn-primary" (click)="nextPage()" [disabled]="(animales | filtro: page:search).length === 0">
  Siguiente
</button>
<!--************************************-->

<section>
  <div class="form-row">
    <div class="form-group col-md-3">
      <input type="text" class="form-control mb-2" id="tama" placeholder="Tamaño" #txtSearch
        (keyup)="onSearch(txtSearch.value)" />
    </div>
  </div>

  <div class="row">
    <div style="width: 18rem;" *ngFor=" let animal of animales | filtro: page:search ">
      <img class="card-img-top" [src]="animal.imagen" style="width: 250px;" alt="Card image cap">
      <div class="card-body">
        Nombre: {{animal.nombre}} <br>
        Sexo: {{animal.sexo}} <br>
        Descripción: {{animal.descripcion}}<br>
        Fecha de ingreso {{animal.alta | date: 'dd/MM/yyyy'}}<br>
        Tamaño: {{animal.tamanio}}<br>
        Provincia: {{animal.provincia}}<br>
        Tipo: {{animal.tipo}}<br>

        <div class="card text-center">
          <a class="btn btn-info" (click)="cambiarSeleccion(animal.id)">Ver animal</a>
        </div>
      </div>
    </div>
  </div>
</section>

<button class="btn btn-primary" (click)="prevPage()">Anterior</button>
<button class="btn btn-primary" (click)="nextPage()"
  [disabled]="(animales | filtro: page:search).length === 0">Siguiente</button>