<h1 style="text-align: center; background-color: rgb(90, 214, 255);">Solicitudes</h1>
<table class="table table-striped table-dark" >
  <thead>
    <tr>
    
      <th>Nombre del Animal</th>
     
      <th>Estado</th>
      <th>Descripción</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngIf="solicitudes.length > 0; else fila">
    <tr *ngFor=" let usuarios of solicitudes">
       
        <td>{{usuarios.nombre_animal}}</td>
        <td>{{usuarios.estado}}</td>
        <td>{{usuarios.descripcion}}</td>
        <td *ngIf="usuarios.estado == 'Rechazado'"> <button  type="button"   (click)="eliminar(usuarios.id)" class="btn btn-danger"  >Eliminar</button></td>
        <td *ngIf="usuarios.estado == 'Aceptado'"> <button  type="button"   (click)="eliminar(usuarios.id)" class="btn btn-danger"  >Eliminar</button></td>
        <!-- eliminar desde solicitud. -->
    </tr>
    
  </tbody>
  <ng-template #fila>
    <tbody>
        <tr>
            <td colspan="4">No hay solicitudes</td>
        </tr>
    </tbody>
</ng-template>
</table>
